/* Styles */
@font-face {
  font-family: 'Apercu-Bold';
  src:  url('../fonts/Apercu-Bold.woff2') format('woff2'),
        url('../fonts/Apercu-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Bold-Italic';
  src:  url('../fonts/Apercu-BoldItalic.woff2') format('woff2'),
        url('../fonts/Apercu-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Italic';
  src:  url('../fonts/Apercu-Italic.woff2') format('woff2'),
        url('../fonts/Apercu-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Light';
  src:  url('../fonts/Apercu-Light.woff2') format('woff2'),
        url('../fonts/Apercu-Light.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Light-Italic';
  src:  url('../fonts/Apercu-LightItalic.woff2') format('woff2'),
        url('../fonts/Apercu-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Medium';
  src:  url('../fonts/Apercu-Medium.woff2') format('woff2'),
        url('../fonts/Apercu-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Medium-Italic';
  src:  url('../fonts/Apercu-MediumItalic.woff2') format('woff2'),
        url('../fonts/Apercu-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Mono-Bold';
  src:  url('../fonts/apercu-mono-bold.woff2') format('woff2'),
        url('../fonts/apercu-mono-bold.woff') format('woff');
}
@font-face {
  font-family: 'Apercu-Regular';
  src:  url('../fonts/Apercu-Regular.woff2') format('woff2'),
        url('../fonts/Apercu-Regular.woff') format('woff');
}

body {
  font-family: 'Apercu-Regular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 50px auto;
  max-width: 800px;
  padding: 0 25px;
}

img {
  height: auto;
  max-width: 100%;
}

.font-switcher {
  display: flex;
}

.button {
  background-color: #333;
  color: white;
  font-family: 'Apercu-Regular';
  padding: 8px 15px;
  margin: 0 5px;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: #444;
  cursor: pointer;
}